body{
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to right, #4facfe, #00f2fe);
        margin: 0;
        padding: 20px;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #ccc;
    }

    th,td{
        border: 1px solid white;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color:lightgray;
    }

    img{
        width: 10vw;
        height: 10vh;
        object-fit: contain;
    }

    button{
        padding: 10px;
        margin: auto
    }

    .total-price{
        font-size: 1.2rem;
        text-align: right;
        margin-top: 15px;
    }

    .confirm-btn{
        padding: 15px;
        background-color: green;
        color: white;
        border-radius: 5px;
        border: none;
    }
